{namespace SeibertMedia.RandomPage.Soy}

/**
 * @param pages
 */
{template .randomPages}
	<ul>
		{foreach $page in $pages}
			{call .randomPage}
				{param page: $page /}
			{/call}
		{/foreach}
	</ul>
{/template}

/**
 * @param page
 */
{template .randomPage}
	<li><a href="{contextPath()}/pages/viewpage.action?pageId={$page.id}">{$page.title}</a></li>
{/template}

